body {

    margin: 0;
    padding: 0;
}

header h1{
    margin: 0;

}

button{
    margin-bottom: 10px;
}

.entete{
    background-color: gray;
    position: fixed;
    width: 100%; 
}

.recherche{
    display: flex;
}

.barre{
    width: 100%;
    margin-bottom: 10px;
}

li{
    background-color: darkgray;
}

li h2{
    font-size: 1rem;
}

h2 {
    margin-left: 40px;
}

footer{
    background-color: gray;
    bottom: 0;
    
}

.sidenav {
    height: 100%; 
    width: 200px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: gray;
    overflow-x: hidden;
    padding-top: 20px;
    margin-top: 67px;
    display: none;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
  }
  
  .sidenav a:hover {
    color:black;
  }


  .sidenav2 {
    height: 100%; 
    width: 200px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    right: 0;
    background-color: gray;
    overflow-x: hidden;
    padding-top: 20px;
    margin-top: 67px;
    display: none;
  }
  
  .sidenav2 a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
  }
  
  .sidenav2 a:hover {
    color:black;
  }



#navigation{
    text-align: center;
    overflow: scroll;
  white-space: nowrap;

}

#navigation a {
    text-decoration: none;
    color: white;
}

#navigation li {
    display:inline-block;
    text-decoration:none;
    text-align: center;
}

#navigation img {
    z-index:1;
    width: 200px;
}

#navigation h2 {
    width: 200px;
}
.bloc {
    background-color: grey;
    text-align: center;


}

.titre {
    height: 40px;
}

.titre h2 {
    line-height: 20px;
}

.image {
    height: auto;
}

.image #imageSlider {
    width: 100%;
    margin-top: 68px;
}

nav {
    width: 50%;
    height: 40px;
    margin: 0 auto;
    padding-bottom: 5px;
}

nav #BTNsuivant {
    height: 100%;
    width: 40px;

    float: right;
}
nav #BTNprecendent {
    height: 100%;
    width: 40px;

    float: left;
}

.description {
    height: 10px;
}

.description p {
    line-height: 40px;
}
